.flip-card {
  background-color: transparent;
  width: 300px;
  height: 300px;
  perspective: 1000px;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-card-front {
  border-radius: 6vh;
  background-color: #bbc5bc;
  -webkit-box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.2);
  border-style: groove;
  color: black;
}

.flip-card-back {
  background-color: #2f8d46;
  color: white;
  border-radius: 6vh;
  font-family: cursive;
  font-size: 1.3rem;
  -webkit-box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.2);
  border-style: groove;
  transform: rotateY(180deg);
}
body {
  margin: 0 auto;
  font-family: "Source Sans Pro", sans-serif;
  color: #111;
  background-color: #ffffff;
  width: 100%;
  overflow-x: hidden;
}

.container1 {
  padding: 0 !important;
  height: 60vh;
  border-radius: 6vh;
  background-color: #dcdcdc;
  -webkit-box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.2);
  border-style: groove;
}

.row1,
.row2 {
  margin-bottom: 3% !important;
  column-gap: 9%;
  margin-left: 7% !important;
}

.name {
  font-size: 145%;
  text-decoration: solid;
  position: relative;
  top: 6%;
  font-weight: 500;
  color: #3c6145;
}
.position {
  font-size: 120%;
  font-style: italic;
  position: relative;
  top: 10%;
  left: 12%;
  color: #3c6145;
}

.mainHeading,
.Heading {
  font-family: "Sofia";
  font-style: bold;
  color: #2f8d46;
  font-size: 200%;
  font-weight: 2000;
  text-align: center;
  margin: 1% 0 3%;
}
.details {
  color: #085a1b;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-style: italic, bold;
  font-size: 200%;
  font-weight: 3000;
  text-align: center;
  margin: 1% 0 3%;
}

.mainHeading {
  font-size: 500%;
  margin-bottom: 4%;
  background-color: #dcdcdc;
  min-width: 103%;
  border-bottom: 3px dashed #2f8d46;
}
.photo {
  border: double 10px #ffffff;
  padding: 0 !important;
  margin-left: 7%;
  position: relative;
  top: 10%;
}

.Heading {
  font-size: 3rem;
  margin-bottom: -1%;
  background-color: #dcdcdc;
  background-size: cover;
  padding: 0 !important;
  min-width: 103%;
  border: 3px dashed #2f8d46;
  border-bottom: none;
}
@media screen and (max-width: 768px) {
  .Nopadding {
    padding: 0 !important;
    margin: 0 !important;
  }
  .container1 {
    height: 65vh;
    margin-bottom: 5%;
  }
  .mainHeading {
    font-size: 400%;
  }
  .photo {
    height: 40vh;
  }
  .row1,
  .row2 {
    margin-left: 18% !important;
  }
  .name {
    font-size: 220%;
  }
}
@media screen and (max-width: 600px) {
  .mainHeading {
    font-size: 300%;
  }
  .name {
    font-size: 190%;
  }
}

@media screen and (max-width: 575px) {
  .row1,
  .row2 {
    margin: 0 !important;
    margin-left: 2.4% !important;
  }
}
@media screen and (max-width: 475px) {
  .mainHeading {
    font-size: 200%;
  }
  .name {
    font-size: 140%;
  }
}

@media screen and (max-height: 650px) {
  .container1 {
    height: 80vh;
  }
}
@media screen and (min-height: 1200px) {
  .container1 {
    height: 35vh;
  }
}
@media screen and (min-height: 1024px) {
  .container1 {
    height: 50vh;
  }
  .photo {
    height: 20vh;
  }
}
