.row{
    margin:0;
}
.col-12{
    padding: 0;
}
.row-1, .row-2{
    margin-left: 0 !important;
}
@media screen and (max-width: 768px){
.row1, .row2 {
    margin-left: 0 !important;
}
}
@media screen and (max-width: 575px){
    .row1, .row2 {
        margin-left: 0 !important;
    }
    }